body {
    background: radial-gradient(forestgreen, darkgreen);
    margin: 0 auto;
    height: 100vh;
}

#racecarNumbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    max-height: 100vh;
    max-width: 100vw;
}